* {
  font-family: Arial, Helvetica, sans-serif;
}

.tile {
  height: 5rem;
  width: 5rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 5rem;
  border-radius: 8px;
  font-weight: bold;
  margin: 0.25rem;
}

.ib {
  display: inline-block;
}

#title {
  text-align: center;
  margin-bottom: 1rem;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.green {
  background-color: #1dad49;
}

.yellow {
  background-color: yellow;
}

.moving {
  box-shadow: 0px 0px 5px 8px cornflowerblue;
}

.magenta {
 box-shadow: 0px 0px 5px 8px magenta;
}

.reset {
  height: 3rem;
  width: 5rem;
  font-size: 1em;
  font-weight: bold;
  background: #1dad49;
  border-radius: 8px;
  box-shadow: 10px 10px 10px gray;
}

p {
  height: 2.5rem;
  padding: 0 0.75rem;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 2.5rem;
  background: #1dad49;
  border-radius: 8px;
  box-shadow: 5px 5px 10px grey;
  margin: 0.25rem;
}

.container {
  margin: 2rem;
}

.section {
  display: inline-block;
  vertical-align: top;
}

.frontboard {
  display: grid;
  grid-template-columns: 10% 10% 60% 10% 10%;
  grid-template-rows: 8rem 20rem 5rem;
  width: 67rem;
  border-radius: 40px;
  border: 10px solid black;
  padding: 2rem;
}

#starstop {
  grid-column: 1/6;
  width: 100%;
  height: 8rem;
}

#starsleft {
  grid-column: 1/2;
  width: 90%;
  height: 30rem;
}

#centerone {
  grid-column: 2/4;
  width: 100%;
  height: 30rem;
}

#crescent {
  width: 15%;
  display: inline-block;
}

#dipper {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

#earth {
  text-align: center;
}

#starsright {
  grid-column: 4/6;
  width: 55%;
  height: 30rem;
}

#starsbottom {
  grid-column: 1/6;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  vertical-align: middle;
}

.backboard {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 8rem 20rem 5rem;
  width: 67rem;
  border-radius: 40px;
  border: 10px solid black;
  padding: 2rem;
}

#roots {
  grid-column: 1/4;
  padding-left: 5rem;
  width: 100%;
  height: 8rem;
}

#prefixes {
  grid-column: 1/2;
  width: 100%;
  height: 20rem;
}

#endingsright {
  grid-column: 3/4;
  width: 100%;
  height: 20rem;
}

#endingsbottom {
  grid-column: 1/4;
  width: 100%;
  height: 5rem;
  padding-right: 10rem;
  text-align: right;
}

#sidetwo {
  /* visibility: hidden; */
}

#light {
  display: block;
  margin: 0 auto;
}

#teacher_light, #student_light{
  margin-left: 2rem;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
}

h5{
  display: inline-block;
}

.online{
  background-color: #2cad48;
}

.offline{
  background-color: red;
}

.not_paying_attention {
  background-color: yellow;
}